<article id="main-article">
    <section id="section" class="uk-text-center uk-light">
    <!--    Here is the section data loaded    -->
    </section>
</article>
<script>
    ((e) => {
        if(sessionStorage.getItem("imdbID") === null){
            sessionStorage.setItem("imdbID", "tt4154796");
        }

        let url2 = "https://www.omdbapi.com/?i=" + sessionStorage.getItem('imdbID') + "&apikey=" + key;

        fetch(url2)
            .then((data) => data.json())
            .then((json) => {
                let poster;
                const section = document.getElementById("section");
                const nav = document.getElementById("nav");
                const footer = document.getElementById("footer");
                const title = document.getElementById("title");
                const background = document.getElementById("background");

                background.style = '';
                title.innerHTML = '<p class="uk-light uk-align-center" id="page-title"><a class="uk-align-left uk-text-left uk-width-auto@s"><span uk-icon="icon: arrow-left; ratio: 2;"></span></a><a class="uk-width-5-6@s uk-width-auto">' + json["Title"] + '</a></p>';
                nav.innerHTML = '';
                footer.innerHTML = '';

                const page_title = document.getElementById('page-title');

                page_title.addEventListener('click', function(event){
                    timeOut('main-content', 'views/home.html', parseInt(sessionStorage.getItem('page'), 10));
                }, {once:true});


                if(json["Poster"] === "N/A"){
                    //set background image
                    poster = "./dist/img/image-not-found.png";
                }else{
                    //set background image
                    poster = json["Poster"];
                }

                const data =
                    '<div class="uk-flex uk-flex-top uk-light" uk-grid>' +
                    '    <div class="uk-width-1-3@m">' +
                    '        <img class="uk-background-cover" src="' + poster + '" alt="" >' +
                    '    </div>\n' +
                    '    <div class="uk-width-2-3@m uk-text-center@s uk-text-left@m">' +
                    '        <div class="">' +
                    '            <h3 class="uk-h3">' + json["Title"] + '</h3>' +
                    '            <p class="uk-text-light">' + json["Genre"] + ' &#183; ' + json["Released"] + ' &#183; ' + json["Runtime"] + '</p>' +
                    '        </div>' +
                    '        <div class="uk-margin-large-top">' +
                    '           <p class="uk-text-light">' + json["Plot"] + '</p>' +
                    '        </div>' +
                    '    </div>' +
                    '</div>';
                section.innerHTML += data;
        });
    })();
</script>
