<ul class="uk-breadcrumb" id="breadcrumb">
<!--    Here is the breadcrumb data loaded    -->
</ul>
<article>
    <section id="section" class="uk-text-center">
    <!--    Here is the section data loaded    -->
    </section>
</article>
<script>
    ((e) => {
        if(sessionStorage.getItem("imdbID") === null){
            sessionStorage.setItem("imdbID", "tt4154796");
        }

        let url2 = "http://www.omdbapi.com/?i=" + sessionStorage.getItem('imdbID') + "&apikey=" + key;

        fetch(url2)
            .then((data) => data.json())
            .then((json) => {
                const section = document.getElementById("section");
                const breadcrumb = document.getElementById("breadcrumb");
                const nav = document.getElementById("nav");
                const nav_title = document.getElementById("nav-search-title");
                const footer = document.getElementById("footer");

                nav.innerHTML = '<li class="uk-navbar-item uk-position-left"><a onclick="getView(\'main-content\', \'views/home.html\', Number(sessionStorage.getItem(\'page\')))" uk-icon="icon: arrow-left; ratio: 2;"></a></li>';
                nav_title.innerHTML = '<a class="uk-navbar-item uk-margin-left uk-text-large">' + json["Title"] + '</a>';
                footer.innerHTML = '';

                breadcrumb.innerHTML = '<li><a onclick="getView(\'main-content\', \'views/home.html\', Number(sessionStorage.getItem(\'page\'))">Home</a></li>';
                breadcrumb.innerHTML += '<li><span>' + json["Title"] + '</span></li>\n';
                const data =
                    '<div class="uk-card uk-grid-collapse uk-child-width-auto uk-margin-large-top" uk-grid>\n' +
                    '    <div class="uk-card-media-left uk-cover-container ">\n' +
                    '        <img src="' + json["Poster"] + '" alt="" >\n' +
                    '    </div>\n' +
                    '    <div class="uk-text-left uk-panel uk-panel-box uk-width-3-4">\n' +
                    '        <div class="uk-card uk-card-body">\n' +
                    '            <h3 class="uk-card-title uk-h3">' + json["Title"] + '</h3>\n' +
                    '            <p class="uk-text-light">' + json["Genre"] + ' &#183; ' + json["Released"] + ' &#183; ' + json["Runtime"] + '</p>\n' +
                    '        </div>\n' +
                    '        <div class="uk-card uk-card-body uk-text-break">\n' +
                    '           <p class="uk-text-light">' + json["Plot"] + '</p>\n' +
                    '        </div>' +
                    '    </div>\n' +
                    '</div>';
                section.innerHTML += data;
        });
    })();
</script>
