<ul class="uk-breadcrumb" id="breadcrumb">
</ul>
<article>
    <section id="section" class="uk-text-center">

    </section>
</article>

<script>
    ((e) => {
        if(sessionStorage.getItem("imdbID") === null){
            sessionStorage.setItem("imdbID", "tt4154796");
        }

        let url2 = "http://www.omdbapi.com/?i=" + sessionStorage.getItem('imdbID') + "&apikey=" + key;

        fetch(url2)
            .then((data) => data.json())
            .then((json) => {
                const section = document.getElementById("section");
                const breadcrumb = document.getElementById("breadcrumb");
                const nav = document.getElementById("nav");
                const nav_title = document.getElementById("nav-search-title");
                const footer = document.getElementById("footer");

                nav.innerHTML = '<li class="uk-navbar-item uk-position-left"><a onclick="getView(\'main-content\', \'views/home.html\')" uk-icon="icon: arrow-left; ratio: 2;"></a></li>';
                nav_title.innerHTML = '<a class="uk-navbar-item uk-margin-left uk-text-large">' + json.Title + '</a>';
                footer.innerHTML = '';

                breadcrumb.innerHTML = '<li><a onclick="getView(\'main-content\', \'views/home.html\')">Home</a></li>';
                breadcrumb.innerHTML += '<li><span>' + json.Title + '</span></li>\n';
                const data =
                    ''+
                    '   <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>\n' +
                    '        <div class="uk-width-auto uk-align-center">\n' +
                    '            <img class="uk-comment-avatar" src="' + json.Poster + '" width="" height="" alt="">\n' +
                    '        </div>\n' +
                    '    </header>\n' +
                    '    <div class="uk-comment-body">\n' +
                    '       <div class="uk-width-expand">\n' +
                    '           <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">' + json.Title + '</a></h4>\n' +
                    '           <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">\n' +
                    '              <li class="uk-align-center"><a href="#"> Released | ' + json.Released + '</a></li>\n' +
                    '           </ul>\n' +
                    '       </div>\n' +
                    '        <p>' + json.Plot + '</p>\n' +
                    '    </div>\n';

                section.innerHTML += data;
        });
    })();

</script>

