<ul class="uk-breadcrumb">
    <li><span>Home</span></li>
</ul>

<section id="table-section" class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
                <th>Year</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>
</section>
<script>
    ((e) => {
        const nav_title = document.getElementById("nav-search-title");
        const data = '<div class="uk-navbar-item uk-width-expand uk-navbar-left">\n' +
            '                    <form class="uk-search uk-search-navbar uk-width-1-1" onsubmit="sessionStorage.setItem(\'title\', document.getElementById(\'search\').value);" method="post">\n' +
            '                        <span uk-search-icon></span>\n' +
            '                        <input id="search" class="uk-search-input" type="search" placeholder="Search..." autofocus>\n' +
            '                    </form>\n' +
            '                </div>';

        nav_title.innerHTML = data;

        /**
         * This fetch request gets the data from the omdbapi and loops through the results
         * @type {string}
         */
        let url2 = "http://www.omdbapi.com/?s=" + sessionStorage.getItem("title") + "&apikey=" + key;
        fetch(url2)
            .then((data) => data.json())
            .then((json) => {
                const s = json["Search"];

                s.map((s) => {
                    const nav = document.getElementById("nav");
                    nav.innerHTML = '';
                    const table = document.getElementById('table-body');
                    const data =
                        '<tr style="cursor: pointer;" onclick="getView(\'main-content\', \'views/detail.html\');  sessionStorage.setItem(\'imdbID\', \'' + s.imdbID + '\')">' +
                        '   <td><img src="' + s.Poster + '" width="100" height="100" alt=""></td>' +
                        '   <td>' + s.Title + '</td>' +
                        '   <td>' + s.Year + '</td>' +
                        '   <td>' + s.Type + '</td>' +
                        '</tr>';

                    table.innerHTML += data;
                });
            });
    })();
</script>
